# Node
node_modules/

# Logs
*.log

# Build
dist/
build/

# VS Code Local
.vscode/settings.json

# Sistema
.DS_Store
Thumbs.db

# Ambiente
.env
.env.local
/.vs

# Metadados locais do Supabase CLI
supabase/.temp/
